# Project information
site_name: JS Refresher
site_url: https://arcelopera.github.io/jsrefresher
site_description: JavaScript refresher.
site_author: ArceLopera

# Repository
repo_url: https://github.com/ArceLopera/jsrefresher
repo_name: ArceLopera/jsrefresher
edit_uri: "" #disables edit button

# Copyright
copyright: Copyright &copy; 2025

# Social media
extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/carlos-arcelopera
    - icon: fontawesome/brands/github
      link: https://github.com/ArceLopera
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/
    - icon: fontawesome/solid/paper-plane
      link: mailto:arcelopera.carlos@gmail.com

# Configuration
theme:
  name: material
  logo: Images/js.png
  favicon: Images/javascript_favicon.ico
  palette:
    
    - media: "(prefers-color-scheme: light)" 
      scheme: default
      primary: yellow
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)" 
      scheme: slate
      primary: amber
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

  features:
    - navigation.tabs
    - navigation.expand
  icon:
    repo: fontawesome/brands/github

# Extensions
markdown_extensions:
  - admonition # alerts
  - pymdownx.details #  collapsible alerts
  - pymdownx.superfences # nest code and content inside alerts
  - attr_list # add HTML and CSS to Markdown elements
  - pymdownx.inlinehilite # inline code highlights
  - pymdownx.keys # show keystroke symbols
  - pymdownx.snippets # insert content from other files
  - footnotes
  - def_list
  - pymdownx.arithmatex: # mathjax
      generic: true
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.highlight:
      use_pygments: true
  - toc:
      toc_depth: 4

# Plugins
plugins:
  - search


# Extra JS
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

# Page tree
nav:
  - Home: index.md
  - Basics: 
      - Intro: js_intro.md
      - Operators: js_operators.md
      - Arrays n Collections: js_arrays.md
      - Control Flow: js_controlflow.md
      - Exceptions: js_exceptions.md
      - Dates: js_date.md
      - Functions: js_func.md
      - Objects: js_object.md
      - Classes: js_classes.md
      - DOM: js_dom.md
      - Events: js_event.md
      - Promises: js_promises.md
      - Modules: js_module.md
      - ECMAScript: js_ECMAScript.md
  - Front-end Development:
      - React: js_react.md
